.header-wrapper {
  display: flex;
  align-items: center;
  gap: 55px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  border-bottom: 1px solid gray;
  margin-bottom: 25px;
}

.user-profile-link {
  margin-left: auto;
}

.burger-menu {
  display: none;
  margin-left: auto;
}

@media (max-width: 768px) {
  .header-wrapper {
    gap: 20px;
  }
}

@media (max-width: 534px) {
  .header-wrapper {
    padding: 5px 15px;
  }
  .burger-menu {
    display: flex;
  }
  .user-profile-link {
    display: none;
  }
}
