.burger-menu {
  margin-left: auto;
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
}

.burger-menu:hover {
  opacity: 0.8;
}

@media (max-width: 534px) {
  .burger-menu {
    display: flex;
  }
}
