.wrapper {
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.link {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  color: #3498db;
}

.link.active {
  color: #3498db;
  font-weight: 700;
  border-bottom: 2px solid #3498db;
}

.dark {
  margin-left: auto;
}

.dark .link {
  color: #ecf0f1;
}

.dark .link:hover {
  color: #f39c12;
}

.dark .link.active {
  color: #f39c12;
  border-bottom: 2px solid #f39c12;
}

.separator {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: black;
}

.dark .separator {
  color: #ecf0f1;
}

@media (max-width: 938px) {
  .link,
  .separator {
    font-size: 16px;
  }
}

@media (max-width: 534px) {
  .wrapper {
    display: none;
  }
}
